@import "./styles/variables";

.root {
  width: 100%;
  margin-top: 5px;
  padding: 7px 8px;
  display: block;
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  text-transform: uppercase;
  transition: $transition;

  &:not(:disabled):hover {
    border: 1px solid $color-white;
    color: $color-white;
    background: $color-primary;
    cursor: pointer;
  }
}
