$footer-height: 50px;

.main {
  height: calc(100vh - #{$footer-height});
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 30px;
  padding: 10px;
  border-top: 1px solid black;
}
