@import "./styles/variables";

$footer-height: 250px;

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.main {
  width: 100%;
}

.game {
  height: 75%;
  padding: 15px;
  overflow: auto;

  @media ($media-l) {
    height: calc(100vh - #{$footer-height});
  }
}

.footer {
  height: 25%;
  padding: 15px;
  border-top: 1px solid black;

  @media ($media-l) {
    height: $footer-height;
  }
}

.description {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 100px;
  cursor: pointer;
}

.aside {
  min-width: 245px;
  height: 100%;
  padding: 15px;
  position: absolute;
  transition: $transition;
  transform: translateX(100%);
  right: 0;
  border-left: 1px solid $color-primary;
  background-color: $color-white;

  &.asideActive {
    transform: translateX(0);
  }

  @media ($media-m) {
    width: 15%;
    display: block;
    position: relative;
    transform: translateX(0);
  }
}

.mobileMenu {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -60px;
  cursor: pointer;

  @media ($media-m) {
    display: none;
  }
}

.asideActive .burger {
  background: $color-white;

  &::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &::after {
    top: 0;
    transform: rotate(45deg);
  }
}

.burger {
  width: 100%;
  height: 1px;
  background: $color-primary;
  display: block;
  position: relative;

  &::before, &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: $color-primary;
    transition: $transition;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.completedList {
  padding-left: 30px;

  li {
    margin: 8px 0;
  }
}
