@import "./styles/variables";

.controlsRow {
  display: flex;
  width: 100%;
  height: calc(100% - 30px);
  align-items: center;
  justify-content: space-between;
}

.control {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-primary;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 40px;

  &:last-of-type {
    margin-right: 0;
  }

  @media ($media-l) {
    height: calc(100% - 45px);
  }
}
