@import "./styles/variables";

.list {
  padding-left: 30px;
}

.listItem {
  margin: 8px 0;
  color: $color-primary;

  span {
    margin-left: 8px;

    &:first-of-type {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}

.userWin {
  color: $color-green;
  font-weight: 600;
}

.computerWin {
  color: $color-red;
  font-weight: 600;
}
